<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- LOAD BOOTSTRAP AND DEPENDENCIES -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css"/>
<script src="/js/jquery.1.9.1.min.js"></script>

<!-- LOAD STATIC RESOURCES -->
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
<link rel="stylesheet" type="text/css" media="screen" href="/css/stylesheet.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css"/>
<script src="/js/frontend.js"></script>

