<!-- Hero header: will stick at the top -->
<div class="hero-head">
  <header class="nav">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item" href="/">
          <img src="/images/gs.svg"><h1 class="title is-5" style="padding-left:5px">Nathan Dalal</h3>
        </a>
      </div>
      <div class="nav-right">
        <a class="nav-item" href="https://github.com/nathandalal">
          <span class="icon">
          <i class="fa fa-github"></i>
        </span>
        </a>
        <a class="nav-item" href="https://linkedin.com/in/nathandalal">
          <span class="icon">
          <i class="fa fa-linkedin"></i>
        </span>
        </a>
        <span class="nav-item">
          <a class="button is-success is-inverted" href="/assets/resume.pdf">
            <span class="icon">
              <i class="fa fa-id-card"></i>
            </span>
            <span style="padding-left:5px">Résumé</span>
          </a>
        </span>
      </div>
    </div>
  </header>
</div>