<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64"> <img alt="Image" src="https://pbs.twimg.com/profile_images/750403034178478081/EPrK3ci2.jpg">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <span><strong class="title is-4">MongoDB</strong> <small>in New York, NY</small></span>
        <p style="padding-bottom: 10px;">
          <span class="subtitle is-6">Software Engineering Intern, Education Team</span>
          <br />
          <span class="tag is-info"> Javascript </span>
        </p>
        I'm working with the New York City Department of Education to integrate computer science into curricula. This involves building web apps and working with teachers to build educative modules for NYC classrooms.
      </div>
    </div>
  </article>
</div>