<!DOCTYPE html>
<html lang="en">
<head>
	{% include "partials/head-bulma.html" %}
	<title>Nathan Dalal</title>
</head>
<body>
	<section class="hero is-fullheight">
	  {% include "partials/header-bulma.html" %}

	  <!-- Hero content: will be in the middle -->
	  <div id="main-body" class="hero-body">
	    <div class="container has-text-centered">
	      <div class="tile is-ancestor">
	      	<div class="tile is-parent">
				    <article class="tile is-child notification is-success">
				      <div class="content">
				        <p class="title">Tall tile</p>
				        <p class="subtitle">With even more content</p>
				        <div class="content">
				          <!-- Content -->
				        </div>
				      </div>
				    </article>
				  </div>
				  <div class="tile is-vertical is-8">
				    <div class="tile">
				      <div class="tile is-parent is-vertical">
				        <article class="tile is-child notification is-primary">
				          <p class="title">Vertical...</p>
				          <p class="subtitle">Top tile</p>
				        </article>
				        <article class="tile is-child notification is-warning">
				          <p class="title">...tiles</p>
				          <p class="subtitle">Bottom tile</p>
				        </article>
				      </div>
				      <div class="tile is-parent">
				        <article class="tile is-child notification is-info">
				          <p class="title">Middle tile</p>
				          <p class="subtitle">With an image</p>
				          <figure class="image is-4by3">
				            <img src="http://bulma.io/images/placeholders/640x480.png">
				          </figure>
				        </article>
				      </div>
				    </div>
				    <div class="tile is-parent">
				      <article class="tile is-child notification is-danger">
				        <p class="title">Wide tile</p>
				        <p class="subtitle">Aligned with the right tile</p>
				        <div class="content">
				          <!-- Content -->
				        </div>
				      </article>
				    </div>
				  </div>
				</div>
	    </div>
	  </div>

	  <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <div class="tabs is-centered is-boxed">
        <ul>
          <li class="is-active">
            <a href="/">
              <span class="icon is-small"><i class="fa fa-image"></i></span>
              <span>Overview</span>
            </a>
          </li>
          <li>
            <a href="/software">
              <span class="icon is-small"><i class="fa fa-laptop"></i></span>
              <span>Software</span>
            </a>
          </li>
          <li>
            <a href="/education">
              <span class="icon is-small"><i class="fa fa-book"></i></span>
              <span>Education</span>
            </a>
          </li>
          <li>
            <a href="/fun">
              <span class="icon is-small"><i class="fa fa-music"></i></span>
              <span>For Fun</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
	</section>
</body>
</html>