<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!-- LOAD STATIC RESOURCES -->
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
	<link rel="stylesheet" type="text/css" media="screen" href="/css/bulma.css"/>
	<script src="https://use.fontawesome.com/c52691aa8d.js"></script>

	<title>Experimentation</title>
</head>
<body>
	<div class="box">
	  <article class="media">
	    <div class="media-left">
	      <figure class="image is-64x64">
	        <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
	      </figure>
	    </div>
	    <div class="media-content">
	      <div class="content">
	        <p>
	          <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
	          <br>
	          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
	        </p>
	      </div>
	      <nav class="level is-mobile">
	        <div class="level-left">
	          <a class="level-item">
	            <span class="icon is-small"><i class="fa fa-reply"></i></span>
	          </a>
	          <a class="level-item">
	            <span class="icon is-small"><i class="fa fa-retweet"></i></span>
	          </a>
	          <a class="level-item">
	            <span class="icon is-small"><i class="fa fa-heart"></i></span>
	          </a>
	        </div>
	      </nav>
	    </div>
	  </article>
	</div>
	<footer class="footer">
	  <div class="container">
	    <div class="content has-text-centered">
	      <p>
	        <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
	        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
	        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
	      </p>
	      <p>
	        <a class="icon" href="https://github.com/jgthms/bulma">
	          <i class="fa fa-github"></i>
	        </a>
	      </p>
	    </div>
	  </div>
	</footer>
</body>
</html>