<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>Nathan Dalal - API</title>
</head>
<body style="padding:45px">
    Welcome to the API for <strong>nathandalal.com</strong>.
    <br>
    This is a JSON API with the following routes.
    <ul>
        <% routes.forEach(function(route) { %>
        <li><h6><%= route %></h6></li>
        <% }) %>
    </ul>
</body>

</html>